/* Membuat halaman terlihat rapi */
body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
    background-color: #f8f8f8;
}

/* Tambahkan styling untuk konten halaman dashboard */
.main-content {
    padding: 20px;
}
